<a href="https://colab.research.google.com/github/Shiven15Pareek/Keras-beginner-01/blob/main/keras01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("Churn_Modelling.csv")
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'],axis=1,inplace=True)
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [ ]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True,dtype=int)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 12 columns]

In [ ]:
x=df.drop(columns=['Exited'],axis=1)
y=df['Exited']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
x_train.shape

(8000, 11)

In [ ]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [ ]:
model=Sequential([
    Dense(3,input_dim=11,activation='sigmoid'),
    Dense(2,activation='relu'),
    Dense(1,activation='sigmoid')
])
model.compile(loss='binary_crossentropy',optimizer='adam')

In [ ]:
model.fit(x_train,y_train,epochs=15,batch_size=20)

Epoch 1/15
400/400  2s 2ms/step - loss: 0.5236
Epoch 2/15
400/400  1s 2ms/step - loss: 0.4751
Epoch 3/15
400/400  1s 2ms/step - loss: 0.4576
Epoch 4/15
400/400  1s 2ms/step - loss: 0.4446
Epoch 5/15
400/400  1s 2ms/step - loss: 0.4353
Epoch 6/15
400/400  1s 3ms/step - loss: 0.4389
Epoch 7/15
400/400  1s 2ms/step - loss: 0.4222
Epoch 8/15
400/400  1s 2ms/step - loss: 0.4291
Epoch 9/15
400/400  1s 2ms/step - loss: 0.4249
Epoch 10/15
400/400  1s 2ms/step - loss: 0.4259
Epoch 11/15
400/400  1s 2ms/step - loss: 0.4201
Epoch 12/15
400/400  1s 2ms/step - loss: 0.4357
Epoch 13/15
400/400  1s 2ms/step - loss: 0.4178
Epoch 14/15
400/400  1s 2ms/step - loss: 0.4229
Epoch 15/15
400/400  1s 2ms/step - loss: 0.4247

In [ ]:
model.layers[0].get_weights()

[array([[ 0.02392698,  0.29111537, -0.00694122],
        [-0.3254992 , -0.9937594 , -2.384233  ],
        [ 0.01122609,  0.6083674 , -0.3005448 ],
        [-0.1523498 , -0.20914379, -0.28053516],
        [-0.07543835,  0.09976394,  0.15985078],
        [-0.09234416,  0.39745936, -0.21022101],
        [ 0.88164943,  0.81239843,  0.08227674],
        [-0.4350214 ,  0.07766323,  0.2537229 ],
        [-0.8950737 , -0.45227504, -0.09843946],
        [ 0.35489005, -0.35848394, -0.14483118],
        [ 0.6632297 ,  0.09128119,  0.32016873]], dtype=float32),
 array([0.09002073, 0.08605256, 0.07670268], dtype=float32)]

In [ ]:
results=model.predict(x_test,batch_size=20)

100/100  0s 1ms/step

In [ ]:
results.shape

(2000, 1)

In [ ]:
np.where(results>0.5,1,0)

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
accu=accuracy_score(y_test,np.where(results>0.5,1,0))
print(accu*100)

81.85